# Packaging
__pycache__/
*.egg-info/
*.eggs/
dist/
build/

# -----------------------
# MkDocs-related ignores
# -----------------------

# MkDocs build output (do NOT commit the site/)
site/

# If you use mkdocs gh-deploy locally, it also writes:
gh-pages/

# -----------------------
# Editor / OS files
# -----------------------
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
